$breakpointMobile: 767.98px;

.header {
   width: 100%;
   position: sticky;
   top: 0;
   left: 0;
   z-index: 80;
   border-bottom: 1px solid var(--background-middle);
   background-color: var(--color-dark);

   // .header__body

   &__body {
      padding: 10px 0px;
      @include adaptiv-value("min-height", 105, 80, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   // .header__logo

   &__logo {
      flex-grow: 0;
      flex-shrink: 0;
      @include adaptiv-value("flex-basis", 135, 115, 1);

      img {
         max-width: 100%;
      }

      &:not(:last-child) {
         @include adaptiv-value("margin-right", 60, 15, 1);
      }
   }

   // .header__menu

   &__menu {
      @media (min-width: $breakpointMobile) {
         &:not(:last-child) {
            @include adaptiv-value("margin-right", 60, 15, 1);
         }
      }

      @media (max-width: $breakpointMobile) {
         pointer-events: none;

         &._active {
            pointer-events: auto;

            .menu__wrapper {
               opacity: 1;
               pointer-events: auto;
            }

            .menu__body {
               left: 0;
            }
         }
      }
   }

   // .header__actions

   &__actions {
      display: flex;
      align-items: center;
   }

   // .header__basket

   &__basket {
      position: relative;
      top: 2px;
   }

   // .header__burger

   &__burger {
      &:not(:first-child) {
         margin-left: 20px;
      }

      @media (min-width: $breakpointMobile) {
         display: none;
      }
   }
}

.menu {
   // .menu__wrapper

   &__wrapper {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      pointer-events: none;
      z-index: 180;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
      background-color: var(--color-wrapper);
   }

   // .menu__body

   &__body {
      @media (max-width: $breakpointMobile) {
         @include adaptiv-value("max-width", 360, 280, 1);
         width: 100%;
         height: 100%;
         position: fixed;
         top: 0;
         left: -100%;
         z-index: 220;
         overflow: auto;
         transition: left 0.3s ease 0s;
         background-color: var(--background-middle);
      }
   }

   // .menu__top

   &__top {
      padding: 5px 15px;
      width: 100%;
      @include adaptiv-value("min-height", 105, 85, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      left: 0;
      background-color: var(--color-dark);

      @media (min-width: $breakpointMobile) {
         display: none;
      }
   }

   // .menu__content

   &__content {
      @media (max-width: $breakpointMobile) {
         padding: 20px 0px 30px;
      }
   }
}

.menu-top {
   // .menu-top__logo

   &__logo {
      flex-grow: 0;
      flex-shrink: 0;
      @include adaptiv-value("flex-basis", 135, 115, 1);

      img {
         max-width: 100%;
      }
   }

   // .menu-top__close

   &__close {
   }
}

.menu-content {
   // .menu-content__list

   &__list {
      @media (min-width: $breakpointMobile) {
         display: flex;
         align-items: center;
         flex-wrap: wrap;
      }

      @media (max-width: $breakpointMobile) {
         display: flex;
         flex-direction: column;
      }
   }

   // .menu-content__list-item

   &__list-item {
      @media (min-width: $breakpointMobile) {
         &:not(:last-child) {
            @include adaptiv-value("margin-right", 35, 15, 1);
         }
      }

      @media (max-width: $breakpointMobile) {
         border-bottom: 1px solid var(--color-dark);
      }
   }

   // .menu-content__list-link

   &__list-link {
      text-decoration: none;

      @media (any-hover: hover) and (min-width: $breakpointMobile) {
         position: relative;

         &:after {
            content: "";
            margin-top: 4px;
            width: 100%;
            height: 2px;
            position: absolute;
            top: 100%;
            left: 0;
            opacity: 0;
            pointer-events: none;
            transform: translateY(2px);
            transition: opacity 0.2s ease 0s, transform 0.2s ease 0s;
            background-color: var(--color-green);
         }

         &:hover {
            &:after {
               transform: translateY(0px);
               opacity: 1;
            }
         }
      }

      @media (max-width: $breakpointMobile) {
         padding: 5px 15px;
         min-height: 50px;
         display: flex;
         align-items: center;

         @include adaptiv-value("font-size", 18, 16, 1);
      }
   }
}

.header-basket {
   // .header-basket__icon

   &__icon {
   }

   // .header-basket__value

   &__value {
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -4px;
      right: -6px;
      border-radius: 50%;
      background-color: var(--color-red);

      font-size: 12px;
      line-height: calc(18 / 12 * 100%);
   }
}
