.articles {
   background-color: var(--background-grey);

   // .articles__body

   &__body {
      @include adaptiv-value("padding-top", 140, 60, 1);
      @include adaptiv-value("padding-bottom", 100, 60, 1);
   }

   // .articles__row

   &__row {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 80, 40, 1);
      }
   }

   // .articles__title

   &__title {
      margin: 0 auto;
      max-width: 650px;

      text-align: center;
      color: var(--color-dark);

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 70, 40, 1);
      }

      &:after {
         @include adaptiv-value("width", 150, 100, 1);
         left: 50%;
         transform: translateX(-50%);
      }
   }

   // .articles__sub-title

   &__sub-title {
      margin: 0 auto;
      max-width: 650px;

      text-align: center;
      color: var(--color-text-dark);

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 45, 20, 1);
      }
   }

   // .articles__button

   &__button {
   }

   // .articles__columns

   &__columns {
      @include adaptiv-value("gap", 50, 5, 1);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      touch-action: pan-y;

      @media (max-width: 551.98px) {
         gap: 25px;
         grid-template-columns: repeat(1, 1fr);
      }
   }
}

.articles-columns {
   // .articles-columns__card

   &__card {
      display: flex;
      flex-direction: column;
   }

   // .articles-columns__image

   &__image {
      padding-bottom: 50%;
      display: block;
      overflow: hidden;

      @media (max-width: 991.98px) {
         padding-bottom: 60%;
      }

      @media (max-width: 767.98px) {
         padding-bottom: 70%;
      }

      @media (max-width: 551.98px) {
         padding-bottom: 45%;
      }

      @media (any-hover: hover) {
         img {
            transition: transform 0.2s ease 0s;
         }

         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }
   }

   // .articles-columns__content

   &__content {
      @include adaptiv-value("padding", 25, 5, 1);
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: var(--color-white);

      @media (max-width: 551.98px) {
         padding: 15px;
      }
   }

   // .articles-columns__date

   &__date {
      color: var(--color-text-dark);

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 20, 15, 1);
      }
   }

   // .articles-columns__title

   &__title {
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   // .articles-columns__link

   &__link {
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include adaptiv-value("font-size", 24, 18, 1);
      font-weight: 400;
      line-height: calc(30 / 24 * 100%);
      color: var(--color-dark);

      @media (max-width: 551.98px) {
         @include adaptiv-value("font-size", 24, 22, 1);
      }

      @media (any-hover: hover) {
         transition: color 0.2s ease 0s;

         &:hover {
            color: var(--color-green);
         }
      }
   }

   // .articles-columns__text

   &__text {
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--color-text-dark);

      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}
