.featured {
   &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 150, 60, 1);
   }

   // .featured__body

   &__body {
   }

   // .featured__row

   &__row {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 80, 40, 1);
      }
   }

   // .featured__title

   &__title {
      margin: 0 auto;
      max-width: 650px;

      text-align: center;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 70, 40, 1);
      }

      &:after {
         @include adaptiv-value("width", 150, 100, 1);
         left: 50%;
         transform: translateX(-50%);
      }
   }

   // .featured__sub-title

   &__sub-title {
      margin: 0 auto;
      max-width: 650px;

      text-align: center;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 45, 20, 1);
      }
   }

   // .featured__button

   &__button {
   }

   // .featured__columns

   &__columns {
      @include adaptiv-value("gap", 50, 5, 1);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      overflow: hidden;
      touch-action: pan-y;

      @media (max-width: 551.98px) {
         gap: 25px;
         grid-template-columns: repeat(1, 1fr);
      }
   }
}

.featured-columns {
   // .featured-columns__card

   &__card {
      display: flex;
      flex-direction: column;
   }

   // .featured-columns__image

   &__image {
      padding-bottom: 50%;
      display: block;
      overflow: hidden;

      @media (max-width: 991.98px) {
         padding-bottom: 60%;
      }

      @media (max-width: 767.98px) {
         padding-bottom: 70%;
      }

      @media (max-width: 551.98px) {
         padding-bottom: 45%;
      }

      @media (any-hover: hover) {
         img {
            transition: transform 0.2s ease 0s;
         }

         &:hover {
            img {
               transform: scale(1.1);
            }
         }
      }
   }

   // .featured-columns__content

   &__content {
      @include adaptiv-value("padding", 25, 5, 1);
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      background-color: var(--color-white);

      @media (max-width: 551.98px) {
         padding: 15px;
      }
   }

   // .featured-columns__title

   &__title {
      &:not(:last-child) {
         margin-bottom: 8px;
      }
   }

   // .featured-columns__link

   &__link {
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;

      @include adaptiv-value("font-size", 24, 18, 1);
      font-weight: 400;
      line-height: calc(30 / 24 * 100%);
      color: var(--color-dark);

      @media (max-width: 551.98px) {
         @include adaptiv-value("font-size", 24, 22, 1);
      }

      @media (any-hover: hover) {
         transition: color 0.2s ease 0s;

         &:hover {
            color: var(--color-green);
         }
      }
   }

   // .featured-columns__text

   &__text {
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      color: var(--color-text-dark);

      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   // .featured-columns__price

   &__price {
      display: flex;
      flex-wrap: wrap;
      flex: 1 1 auto;

      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }

   // .featured-columns__price-text

   &__price-text {
      @include adaptiv-value("font-size", 22, 14, 1);
      font-weight: 400;
      line-height: calc(28 / 22 * 100%);
      color: var(--color-dark);

      &:not(:last-child) {
         margin-right: 8px;
      }

      // .featured-columns__price-text_stock

      &_stock {
         color: #b2b2bf;
      }

      @media (max-width: 551.98px) {
         font-size: 18px;
      }
   }

   // .featured-columns__more

   &__more {
      @include adaptiv-value("font-size", 16, 14, 1);
      text-transform: uppercase;
      color: var(--color-green);

      @media (max-width: 551.98px) {
         font-size: 18px;
      }

      @media (any-hover: hover) {
         transition: color 0.2s ease 0s;

         &:hover {
            color: var(--color-green-hover);
         }
      }
   }
}
