.reviews {
   @include adaptiv-value("padding-top", 80, 60, 1);
   @include adaptiv-value("padding-bottom", 90, 60, 1);
   background-color: var(--color-green);

   ::selection {
      background-color: var(--color-dark);

      color: var(--color-white);
   }

   // .reviews__body

   &__body {
      overflow: hidden;
      touch-action: pan-y;
   }

   // .reviews__wrapper

   &__wrapper {
      display: inline-flex;
      align-items: flex-start;
      transition-property: transform, height;

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 50, 30, 1);
      }
   }

   // .reviews__slide

   &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease 0s;

      &.swiper-slide-active {
         opacity: 1;
      }
   }
}

.reviews-slide {
   // .reviews-slide__rating

   &__rating {
      position: relative;

      &:before {
         content: "★★★★★";

         @include adaptiv-value("font-size", 32, 24, 1);
         color: #858599;
      }

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 45, 20, 1);
      }
   }

   // .reviews-slide__rating-active

   &__rating-active {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;

      &:before {
         content: "★★★★★";
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;

         @include adaptiv-value("font-size", 32, 24, 1);
         color: var(--color-dark);
      }
   }

   // .reviews-slide__text

   &__text {
      max-width: 1000px;

      text-align: center;
      @include adaptiv-value("font-size", 28, 20, 1);
      font-style: italic;
      font-weight: 400;
      line-height: calc(42 / 28 * 100%);
      color: var(--color-dark);

      &:not(:last-child) {
         @include adaptiv-value("margin-bottom", 35, 25, 1);
      }
   }

   // .reviews-slide__by

   &__by {
      text-align: center;
      color: var(--color-text-dark);
   }

   // .reviews-slide__pagination

   &__pagination {
      display: flex;
      justify-content: center;
      align-items: center;

      .swiper-pagination-bullet {
         @include adaptiv-value("width", 18, 14, 1);
         @include adaptiv-value("height", 18, 14, 1);
         display: block;
         opacity: 0.4;
         cursor: pointer;
         border-radius: 50%;
         transition: opacity 0.2s ease 0s;
         background-color: var(--color-dark);

         &:not(:last-child) {
            margin-right: 8px;
         }
      }

      .swiper-pagination-bullet-active {
         opacity: 1;
      }
   }
}
